// Заголовки, общие БЄМ блоки и проче...

.title {
	font-weight: 700;
	font-size: rem(36);
	line-height: math.div(46, 36);
	color: $darkColor;
}

.min-title {
	color: $darkColor;
	font-weight: 400;
	font-size: rem(14);
}

.text {}



.link,
.link:link,
.link:visited {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: $linkColor;
	position: relative;
	padding-left: 7px;
	transition: all .3s ease 0s;
	margin-left: 7px;

	@media (any-hover: hover) {
		&:hover {
			color: $hoverColor;

			&::after {
				background-color: $hoverColor;
			}
		}
	}

	&::before {
		position: absolute;
		content: "";
		height: 10px;
		width: 10px;
		top: 50%;
		left: -8px;
		transform: translate(0, -50%);
		background: url("@img/icons/arrow.png") no-repeat;
	}

	&::after {
		position: absolute;
		content: "";
		height: 1px;
		background-color: $linkColor;
		transition: all .3s ease 0s;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

//==========================================

.page--content-block{
	margin-bottom: rem(140);	
}
.container--section {
	display: flex;
}

.card-block {
	position: relative;
	width: rem(572);
	min-height: rem(550);
	flex: 0 0 auto;
}

.card {
	position: absolute;
	background-color: $backgroundColor;
	border-radius: 8px;
	bottom: -70px;
	right: -50px;
	padding: 30px 40px;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	width: rem(453);
	// .card__text

	&__text {
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: math.div(26, 16);
		color: $darkColor;
		margin-bottom: rem(30);
	}

	// .card__text--big

	&__text--big {
		font-size: 24px;
		line-height: math.div(40, 24);
		margin-bottom: rem(40);
	}

	// .card__user

	&__user {
		display: flex;
		// margin-bottom: rem(40);
	}

	// .card__avatar

	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		margin-right: rem(20);
		width: rem(46);
		height: rem(46);
	}

	// .card__avatar--big

	&__avatar--big {
		width: rem(90);
		height: rem(90);
	}

	// .card__content

	&__content {
		padding-top: rem(0);
	}

	// .card__name

	&__name {
		font-weight: 700;
		color: $darkColor;
		margin-bottom: rem(5);
		font-size: 16px;
		line-height: math.div(24, 16);
	}

	// .card__name--big

	&__name--big {
		font-size: 22px;
		line-height: math.div(33, 22);
	}

	// .card__position

	&__position {
		font-weight: 400;
		color: #152934;
		font-size: 14px;
		line-height: math.div(21, 14);
	}

	// .card__position--big

	&__position--big {
		font-size: 16px;
		line-height: math.div(24, 16);
	}
}

.card--right {
	left: -50px;
	right: auto;
}

.card--big {
	position: relative;
}

.content-block {
	padding-top: rem(80);

	// .content-block__title

	&__title {
		margin-bottom: rem(30);
	}

	// .content-block__text

	&__text {
		margin-bottom: rem(80);
	}

	// .content-block__link

	&__link {}
}

.content-block--right {
	padding-left: rem(96);
}