//====================================================================================================
.footer {
	background: url("@img/bg-footer.png") top center no-repeat;
	color: $footerColor;

	// .footer__container

	&__container {}

	// .footer__top

	&__top {}

	// .footer__mid

	&__mid {}

	// .footer__bottom

	&__bottom {}

	// .footer__logo

	&__logo {}

	// .footer__copyright

	&__copyright {}
}

.top-footer {
	display: flex;
	border-bottom: 1px solid $footerLine;
	padding-top: rem(40);
	padding-bottom: rem(80);

	// .top__block

	&__block {
		margin-right: rem(100);
	}

	// .top__title

	&__title {
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(40, 16);
		color: $footerColor;
	}

	// .top__text

	&__text {
		color: $lightColor;
	}
}

.mid-footer {
	display: flex;
	width: 100%;
	border-bottom: 1px solid $footerLine;
	padding-top: rem(80);
	padding-bottom: rem(80);

	// .mid-footer__links

	&__links {
		// flex-direction: row;
		display: flex;
		// flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	// .mid-footer__links-block

	&__links-block {
		// width: 33%;
		// flex: 0 0 auto;
		margin-right: rem(85);
		// width: 100px;
	}

	// .mid-footer__links-title

	&__links-title,
	&__info-title {
		font-weight: 600;
		text-transform: uppercase;
		font-size: rem(16);
		line-height: math.div(38, 16);
		color: $lightColor;
		margin-bottom: rem(10);
	}

	// .mid-footer__links-list

	&__links-list {}

	// .mid-footer__links-link

	&__links-link {
		margin-bottom: rem(10);

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	// .mid-footer__info

	&__info {}

	// .mid-footer__info-title

	&__info-title {}

	// .mid-footer__info-text

	&__info-text {
		margin-bottom: rem(30);
	}

	// .mid-footer__info-email

	&__info-email {
		color: $lightColor;
		font-weight: 700;
		font-size: rem(24);
		line-height: math.div(38, 24);
		margin-bottom: rem(20);
	}

	// .mid-footer__info-socials

	&__info-socials {
		display: flex;
	}

	// .mid-footer__info-ico

	&__info-social {
		background-color: rgba(#000, .12);
		border-radius: 50%;
		padding: rem(10);
		width: rem(50);
		height: rem(50);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: rem(10);
		transition: background .3s ease;

		&:last-child {
			margin-right: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $hoverColor;
				.mid-footer__info-icon {
					transform: scale(150%)
				}
			}
		}
	}

	&__info-icon {
		fill: $lightColor;
		width: rem(20);
		height: rem(20);
		transition: transform .3s ease;
	}
}

.fb-icon {
	// width: rem(20);
	height: rem(15);
}

.g-icon {
	// width: rem(20);
	height: rem(20);
}

.in-icon {
	width: rem(13);
	// height: rem(15);
}

.tw-icon {
	// width: rem(15);
	height: rem(13);
}

//====================================================================================================
.footer {

	// .footer__bottom

	&__bottom {
		padding-top: rem(40);
		padding-bottom: rem(40);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .footer__logo

	&__logo{
		& img{
			width: rem(180);}
	}

	// .footer__copyright

	&__copyright {
		font-size: rem(14);
		line-height: math.div(21 , 14);
	}
}