//====================================================================================================

.main-block {
	position: relative;

	// .main-block__container

	&__container {
		// width: 30%;
	}

	// .main-block__container

	&__wrapper {
		width: 55%;
		// padding-right: 50%;
	}

	// .main-block__min-title

	&__min-title {
		font-weight: 400;
		font-size: rem(14);
		line-height: 21px;
		color: $lightColor;
		margin-bottom: rem(10);
	}

	// .main-block__title

	&__title {
		font-weight: 700;
		font-size: 60px;
		line-height: 74px;
		color: $lightColor;
		margin-bottom: rem(20);
	}

	// .main-block__text

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		color: $lightColor;
		margin-bottom: rem(30);
	}

	// .main-block__link

	&__link,
	&__link:link,
	&__link:visited {}
}

//====================================================================================================
.partners {
	position: relative;
	margin-top: 150px;

	// .partners__container-big

	&__container-big {
		// margin-left: rem(100);
		// background: $lightColor;
		// overflow: hidden;
		// padding-bottom: rem(200);
	}

	// .partners__container-big

	&__container {
		position: relative;
		display: flex;
		justify-content: space-around;
		padding-top: rem(20);
		padding-bottom: rem(20);

		&::after {
			content: "";
			display: block;
			background: $lightColor;
			box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
			height: 100%;
			width: rem(1275);
			top: 0;
			left: rem(15);
			position: absolute;
			z-index: 1;
		}
	}

	// .partners__item

	&__item {
		z-index: 2;
	}

}


//==============================================================================

.page {

	// .page__strategy

	&__strategy {}
}

.strategy {
	margin-bottom: rem(120);

	// .strategy__container

	&__container {}

	// .strategy__container

	&__wrapper {
		display: flex;
		border-bottom: 1px solid rgba(#979797, .2);
		padding-bottom: rem(150);
	}

	// .strategy__content

	&__content {
		padding-top: rem(90);
		padding-bottom: rem(20);
		// padding-left: rem(30);
		padding-right: rem(190);
	}

	// .strategy__min-title

	&__min-title {
		margin-bottom: rem(40);
	}

	// .strategy__title

	&__title {
		margin-bottom: rem(30);
	}

	// .strategy__text

	&__text {
		margin-bottom: rem(40);
	}

	// .strategy__link

	&__link {}

	// .strategy__card

	&__card {
		box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
		padding-top: rem(55);
		padding-bottom: rem(20);
		padding-left: rem(30);
		padding-right: rem(30);
		max-width: rem(474);
		flex: 1 0 auto;
	}
}


//===============================================================================

.page {

	// .page__awesome

	&__awesome {}
}

.awesome {
	margin-bottom: rem(80);

	// .awesome__container

	&__container {
		display: flex;
	}

	// .awesome__title

	&__title {
		min-width: rem(332);
		margin-right: rem(145);
	}

	// .awesome__text

	&__text {
		padding-right: rem(150);
	}
}

.title {}

.text {}

//=======================================================================================
.page {

	// .page__wall

	&__wall {}
}

.wall {

	// .wall__container-big

	&__container-big {
		background: url("@img/bg-wall.png") top left no-repeat;
	}

	// .wall__container

	&__container {}

	// .wall__card-block

	&__card-block {}

	// .wall__card

	&__card {
		// position: absolute;
	}

	// .wall__content-block

	&__content-block {}
}


//=======================================================================================

.page {

	// .page__3d

	&__section3d {}
}

.section3d {

	// .section3d__container-big

	&__container-big {
		background: url("@img/bg-3d.png") top right no-repeat;
	}

	// .section3d__container

	&__container {}

	// .section3d__content-block

	&__content-block {
		padding-right: rem(80);
	}

	// .section3d__title

	&__title {
		margin-bottom: rem(40);
	}

	// .section3d__text

	&__text {
		margin-bottom: rem(40);
	}

	// .section3d__link

	&__link {}

	// .section3d__card-block

	&__card-block {
		position: relative;
	}

	// .section3d__card

	&__card {}
}

//=============================================================================================

.page {

	// .page__online

	&__online {}
}

.online {

	// .online__container-big

	&__container-big {
		background: url("@img/bg-future.png") top left no-repeat;
	}

	// .online__container

	&__container {}

	// .online__card-block

	&__card-block {}

	// .online__card

	&__card {}

	// .online__content-block

	&__content-block {}
}

//==================================================================================================================

.page {

	// .page__deation

	&__deation {
		margin-bottom: rem(100);
	}
}

.deation {

	// .deation__container

	&__container {}

	// .deation__title

	&__title {
		width: rem(600);
		margin-bottom: rem(40);
	}

	// .deation__body

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 0 rem(-25);
		flex-wrap: wrap;
		// display: grid;
		// grid-template-columns: 25% 25% 25% 24%;
		// grid-template-rows: 25%  25% 50%;
	}

	// .deation__block

	&__block {
		width: rem(255);
		padding-top: rem(15);
		padding-bottom: rem(15);
		padding-left: rem(25);
		padding-right: rem(25);
	}
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	// .block__content

	&__content {
		margin-bottom: rem(30);
	}

	// .block__title

	&__title {
		font-weight: 500;
		font-size: rem(24);
		line-height: math.div(34, 24);
		margin-bottom: rem(15);
		text-transform: uppercase;
		min-height: rem(68);
	}

	// .block__text

	&__text {
		font-size: rem(14);
		line-height: math.div(26, 14);

	}

	// .block__link

	&__link {}
}

//============================================================================================================

.page {

	// .page__bottom

	&__bottom {
		margin-bottom: rem(100);
	}
}

.bottom {

	// .bottom__container

	&__container-big {
		margin-bottom: rem(-200);
	}
	// .bottom__container

	&__container {
		position: relative;
		// display: flex;
		// justify-content: space-around;
		padding-top: rem(20);
		padding-bottom: rem(20);

		&::after {
			content: "";
			display: block;
			background: $lightColor;
			box-shadow: 50px 150px 100px rgba(0, 0, 0, 0.145947);
			height: 100%;
			width: rem(1275);
			top: 0;
			right: rem(15);
			position: absolute;
			z-index: 0;
		}
	}

	// .bottom__title

	&__title {
		position: relative;
		width: rem(822);
		font-size: rem(60);
		line-height: math.div(74, 60);
		margin-bottom: rem(30);
		z-index: 1;
	}

	// .bottom__link

	&__link {
		text-transform: uppercase;
		z-index: 1;
	}
}
//=============================================


